.cardsfirstdata {
    display: flex;
    align-items: center;
}

.cards {
    margin-top: 25px;
    padding: 6% 10%;
    color: white;
    border: 1px solid rgb(104, 104, 104);
    border-radius: 4px;
    position: relative;
    cursor: pointer;

}

.chartsdata {
    padding: 6% 3%;
    color: white;
    border: 1px solid rgb(104, 104, 104);
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 0px 10px -1px #00000066;
}


.cards::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(157deg, rgb(255 255 255 / 6%) 44%, rgb(169 180 182 / 22%) 100%) !important;
    border-radius: 4px;

}

.cardsseconddata {
    font-size: 18px;
    font-weight: 500;
}

.homedetails {
    height: 100%
}

@media only screen and (max-width: 600px) {

    .chartdatanew {
        margin-top: 50px;
    }

}